<%- include ('partials/header')%>
<link rel="stylesheet" href="/artist.css" />
<main>
  <div class="bg-black">
    <section class="py-5 text-center container bg-black">
      <div class="row py-lg-5 mask1">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="p-3 text-light shadow">Artistas</h1>
          <h5 class="font-weight-bold text-light shadow">
            El arte no solo se crea con las manos, sino con el corazón y la
            mente. Cada artista es un viajero en un mundo de emociones, y
            conocer su obra es descubrir un pedazo de su alma.
          </h5>
          <br />
          <br />
          <br />
        </div>
      </div>
    </section>


    <div class="Destacados">
      <section class="py-5 text-center container bg-black">
        <h2 class="text-light font-weight-bold" style="position: absolute; left: 4%">
          Artistas Destacados
        </h2>
      </section>
      <div id="Destacados" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% let carouselIndexDestacados = 0; %>
          <% for (let i = 0; i < dato.length; i += 3) { %>
            <div class="carousel-item <%= carouselIndexDestacados === 0 ? 'active' : '' %>">
              <div class="row">
                <% for (let j = i; j < i + 3 && j < dato.length; j++) { %>
                  <div class="col-4">
                    <div class="card shadow-sm bg-black">
                      <div class="card-img-top">
                        <a href="/profile/<%= dato[j].nombreUsuario %>">
                          <img src="<%= dato[j].foto %>" class="img-fluid rounded float" alt="Foto" />
                        </a>
                      </div>
                      <div class="card-body bg-black">
                        <p class="card-text text-light">
                          <%= dato[j].nombreUsuario %> <br />
                          <%= dato[j].correo %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
            <% carouselIndexDestacados++; %>
          <% } %>
        </div>
        <!-- Controles de navegación -->
        <button class="carousel-control-prev" type="button" data-bs-target="#Destacados" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Destacados" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    

    <div class="Pintores">
      <section class="py-5 text-center container bg-black">
        <h2 class="text-light font-weight-bold" style="position: absolute; left: 4%">
          Pintores
        </h2>
      </section>
      <div id="Pintores" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% let carouselIndexPintores = 0; %>
          <% for (let i = 0; i < pintores.length; i += 3) { %>
            <div class="carousel-item <%= carouselIndexPintores === 0 ? 'active' : '' %>">
              <div class="row">
                <% for (let j = i; j < i + 3 && j < pintores.length; j++) { %>
                  <div class="col-4">
                    <div class="card shadow-sm bg-black">
                      <div class="card-img-top">
                        <a href="/profile/<%= pintores[j].nombreUsuario %>">
                          <img src="<%= pintores[j].foto %>" class="img-fluid rounded float" alt="Foto" />
                        </a>
                      </div>
                      <div class="card-body bg-black">
                        <p class="card-text text-light">
                          <%= pintores[j].nombreUsuario %> <br />
                          <%= pintores[j].correo %>
                        </p>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>
            </div>
            <% carouselIndexPintores++; %>
          <% } %>
        </div>
        <!-- Controles de navegación -->
        <button class="carousel-control-prev" type="button" data-bs-target="#Pintores" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#Pintores" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    
    
    <section id="FinalArt" class="text-center">
      <p class="text-light"><strong class="shadow">UNETE</strong> A LA</p>
      <p class="text-light"><strong class="shadow">COMUNIDAD</strong></p>
      <p class="text-light">MÁS</p>
      <p class="text-light"><strong class="shadow">ARTISTICA</strong></p>
      <p class="text-light">DE CANCÚN</p>
    </section>
  </div>
  <script src="/artistscript.js"></script>
</main>

<%- include ('partials/footer')%>